{% extends 'base.html' %}

{% block title %}Início - TechNova{% endblock %}

{% block content %}
    
    <main>
        <h1 class="text-center mt-4">TechNova - Inovação e Excelência em Tecnologia</h1>
        <p class="lead text-center mt-3">
            A TechNova é líder em soluções tecnológicas avançadas, oferecendo um portfólio abrangente de serviços e cursos que redefinem a experiência digital e impulsionam o sucesso de empresas e indivíduos.
        </p>
        
        <section class="mt-5">
            <h2 class="text-primary">Nossa Missão</h2>
            <p>
                Empoderar empresas e indivíduos com soluções tecnológicas eficientes e inovadoras, garantindo resultados que superem expectativas e promovam transformação digital de excelência.
            </p>
        </section>
        
        <section class="mt-4">
            <h2 class="text-primary">Nossa Visão</h2>
            <p>
                Ser referência global em tecnologia, destacando-se pela entrega de serviços e cursos de alta qualidade que capacitem nossos clientes a alcançar suas metas e superar desafios.
            </p>
        </section>
        
        <section class="mt-4">
            <h2 class="text-primary">Nossos Valores</h2>
            <ul>
                <li><strong>Compromisso com a Excelência:</strong> Dedicação em oferecer serviços e produtos de qualidade superior.</li>
                <li><strong>Inovação Contínua:</strong> Busca constante por novas ideias e soluções tecnológicas criativas.</li>
                <li><strong>Foco no Cliente:</strong> Atendimento personalizado, sempre priorizando as necessidades e objetivos de nossos parceiros.</li>
                <li><strong>Ética e Transparência:</strong> Relacionamentos construídos com base na integridade e na confiança.</li>
            </ul>
        </section>
    </main>

{% endblock %}
